/* CSS padrão das pagínas */
@font-face {
    font-family: roman;
    src: url(../fontes/fonte.ttf);
}
@font-face {
    font-family: romanus;
    src: url(../fontes/ROMANUS.otf);
}
@font-face {
    font-family: via;
    src: url(../fontes/Via\ Appia.ttf);
}
body{
    margin: 0%;
    background-color: rgba(41, 41, 41, 0.8);
}
.padrao{
    text-align: justify;
    position: relative;
    left: 23%;
    right: 23%;
    width: 55%;
    text-indent: 50px;
    font-size: large;
    border: 4px solid rgb(182, 155, 0);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    background-color: #dccbb5;
    border-radius: 3rem;
   
}
.titulo{
    position: relative;
    left: 22%;
    width: 50%;
    text-align: center;
    font-size: xx-large;
    font-family: via;
    letter-spacing: 3px;
    font-weight: bold;
}
.titulodaimg{    
    position: relative;
    left: 22%;
    width: 50%;
    text-align: center;
    font-size: x-large;
    font-family: via;
    letter-spacing: 3px;
    font-weight: bold;
}
img{
    margin: auto;
    display: block;
    width: 30rem;
}
header{
    background-color: #d7b52c;
    text-shadow: 
    -1px -1px 0px gold, 
    -1px 1px 0px gold,      
     1px -1px 0px gold,    
     1px 0px 0px gold;
     
}
.headercentral{
    display: flex;
    align-items: center;
    margin-left: 26%;
}
#mitologia{
    font-family: roman;
    text-decoration: none;
    transition: 1ms;
    color: black;
    font-size: xx-large;
}
#mitologia:hover{
    text-decoration: underline;
}
.nav{
  text-shadow: none;  
  display: inline;
  padding-left: 20px;
  font-size: large;
}

.area{
    color: rgb(61, 61, 61);
    text-decoration: none;
    border: 2px solid blue;
    padding: 3px 7px;
    background-color: #acacac;
    transition: 5ms;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 8px;
}
nav .area:hover{
    background-color: gray;
    color: white;
    border: 3px solid gold;
}
#simb_horus{
    width: 5rem;
}
#simb_header{
    display: flex;
}
footer{
    background-color: #d7b52c;
    border: 2px solid black;
    border-radius: 1rem;
    line-height: 0;
}
.fig{
    font-size: xx-small;
    text-align: center;
}
    
/* mourvan */
#titulo_mourvan{
    text-align: center;
    font-size: xx-large;
    font-family: via;
    letter-spacing: 3px;
    font-weight: bold;
    background-color: rgb(207, 154, 39);
    border: 4px inset darkblue;
    border-radius: 1rem;
    text-align: center;
    margin-left: 23%;
    margin-right: 23%;
    text-indent: 0%;
}
.imagens_mourvan{
    width: 30rem;
    border: 6px groove darkslateblue ;
    border-radius: 25px;
}
/* victor */
.img-rotate{
    overflow: hidden;
}
.img-rotate{
    transition: all 2s;
    box-sizing: border-box;
    max-width: 100%;
}
.img-rotate:hover{
    transform: scale(1.0) rotate(360deg);
}

/* abner */
.duat{
    background-image: url(../imagens/duat.png);
    max-width: 100%;
}

/* henrique */

